In [7]:
import pandas as pd

In [ ]:
matches = pd.read_excel('football_data.xlsx', index_col=0)

In [3]:
type(matches)

pandas.core.frame.DataFrame

In [4]:
matches.dtypes

Date              object
Time              object
Comp              object
Round             object
Day               object
Venue             object
Result            object
GF                 int64
GA                 int64
Opponent          object
xG               float64
xGA              float64
Poss               int64
Attendance       float64
Captain           object
Formation         object
Opp Formation     object
Referee           object
Match Report      object
Notes            float64
Gls                int64
Sh                 int64
SoT                int64
SoT%             float64
G/Sh             float64
G/SoT            float64
Dist             float64
FK               float64
PK                 int64
PKatt              int64
npxG             float64
npxG/Sh          float64
G-xG             float64
np:G-xG          float64
Season             int64
Team              object
dtype: object

In [5]:
matches["Team"].value_counts()

Team
Liverpool                   378
Arsenal                     378
Manchester City             378
Chelsea                     378
Everton                     378
Tottenham Hotspur           378
West Ham United             378
Manchester United           378
Crystal Palace              378
Newcastle United            340
Southampton                 340
Leicester City              340
Bournemouth                 302
Brighton and Hove Albion    302
Burnley                     266
Aston Villa                 264
Wolverhampton Wanderers     264
Watford                     228
Fulham                      188
West Bromwich Albion        152
Brentford                   150
Swansea City                114
Stoke City                  114
Leeds United                114
Norwich City                114
Sheffield United            114
Nottingham Forest           112
Sunderland                   76
Huddersfield Town            76
Luton Town                   38
Hull City                    38
Cardiff City                 38
Middlesbrough                38
Ipswich Town                 36
Name: count, dtype: int64

In [11]:
matches.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,npxG,npxG/Sh,G-xG,np:G-xG,Season,Team
0,2024-08-17,12:30 (18:30),Premier League,Matchweek 1,Sat,Away,W,2,0,Ipswich Town,...,14.8,0.0,0,0,2.6,0.15,-0.6,-0.6,2025,Liverpool
1,2024-08-25,16:30 (22:30),Premier League,Matchweek 2,Sun,Home,W,2,0,Brentford,...,13.6,1.0,0,0,2.5,0.14,-0.5,-0.5,2025,Liverpool
2,2024-09-01,16:00 (22:00),Premier League,Matchweek 3,Sun,Away,W,3,0,Manchester Utd,...,13.4,0.0,0,0,1.8,0.16,1.2,1.2,2025,Liverpool
3,2024-09-14,15:00 (21:00),Premier League,Matchweek 4,Sat,Home,L,0,1,Nott'ham Forest,...,14.9,0.0,0,0,0.9,0.07,-0.9,-0.9,2025,Liverpool
4,2024-09-21,15:00 (21:00),Premier League,Matchweek 5,Sat,Home,W,3,0,Bournemouth,...,16.6,0.0,0,0,2.0,0.11,1.0,1.0,2025,Liverpool

In [ ]:
matches["Round"].value_counts() # week 37 38 missing 2 rows (at current time of writing) since they are not played yet

Round
Matchweek 1     200
Matchweek 2     200
Matchweek 3     200
Matchweek 4     200
Matchweek 5     200
Matchweek 6     200
Matchweek 7     200
Matchweek 8     200
Matchweek 9     200
Matchweek 10    200
Matchweek 11    200
Matchweek 12    200
Matchweek 13    200
Matchweek 14    200
Matchweek 16    200
Matchweek 17    200
Matchweek 18    200
Matchweek 19    200
Matchweek 20    200
Matchweek 21    200
Matchweek 22    200
Matchweek 23    200
Matchweek 24    200
Matchweek 15    200
Matchweek 25    200
Matchweek 29    200
Matchweek 26    200
Matchweek 27    200
Matchweek 28    200
Matchweek 30    200
Matchweek 31    200
Matchweek 32    200
Matchweek 33    200
Matchweek 34    200
Matchweek 35    200
Matchweek 36    200
Matchweek 37    180
Matchweek 38    180
Name: count, dtype: int64

In [12]:
matches['Date'] = pd.to_datetime(matches['Date'])

In [47]:
matches.shape

(7560, 41)

In [17]:
matches["Venue_Code"]= matches["Venue"].astype('category').cat.codes

In [18]:
matches.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,FK,PK,PKatt,npxG,npxG/Sh,G-xG,np:G-xG,Season,Team,Venue_Code
0,2024-08-17,12:30 (18:30),Premier League,Matchweek 1,Sat,Away,W,2,0,Ipswich Town,...,0.0,0,0,2.6,0.15,-0.6,-0.6,2025,Liverpool,0
1,2024-08-25,16:30 (22:30),Premier League,Matchweek 2,Sun,Home,W,2,0,Brentford,...,1.0,0,0,2.5,0.14,-0.5,-0.5,2025,Liverpool,1
2,2024-09-01,16:00 (22:00),Premier League,Matchweek 3,Sun,Away,W,3,0,Manchester Utd,...,0.0,0,0,1.8,0.16,1.2,1.2,2025,Liverpool,0
3,2024-09-14,15:00 (21:00),Premier League,Matchweek 4,Sat,Home,L,0,1,Nott'ham Forest,...,0.0,0,0,0.9,0.07,-0.9,-0.9,2025,Liverpool,1
4,2024-09-21,15:00 (21:00),Premier League,Matchweek 5,Sat,Home,W,3,0,Bournemouth,...,0.0,0,0,2.0,0.11,1.0,1.0,2025,Liverpool,1

In [19]:
matches["Opp_Code"] = matches["Opponent"].astype('category').cat.codes

In [22]:
matches["Hour"] = matches["Time"].str.extract(r"(\d{2}:\d{2})")

In [27]:
matches["Hour"] = matches["Hour"].str.replace(r":.+", "", regex=True).astype(int)

In [30]:
matches["day_code"] = matches["Date"].dt.dayofweek

In [32]:
matches["target"] = (matches["Result"] == "W").astype(int)

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
rf = RandomForestClassifier(n_estimators=50, random_state=1, min_samples_split=10)

In [ ]:
mid_season_2025 = matches[(matches["Season"] == 2025) & (matches["Round"].str.contains("19"))]["Date"].min()

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
train = matches[matches["Date"] < mid_season_2025]
test = matches[matches["Date"] > mid_season_2025]

In [53]:
matches

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,npxG/Sh,G-xG,np:G-xG,Season,Team,Venue_Code,Opp_Code,Hour,day_code,target
0,2024-08-17,12:30 (18:30),Premier League,Matchweek 1,Sat,Away,W,2,0,Ipswich Town,...,0.15,-0.6,-0.6,2025,Liverpool,0,13,12,5,1
1,2024-08-25,16:30 (22:30),Premier League,Matchweek 2,Sun,Home,W,2,0,Brentford,...,0.14,-0.5,-0.5,2025,Liverpool,1,3,16,6,1
2,2024-09-01,16:00 (22:00),Premier League,Matchweek 3,Sun,Away,W,3,0,Manchester Utd,...,0.16,1.2,1.2,2025,Liverpool,0,19,16,6,1
3,2024-09-14,15:00 (21:00),Premier League,Matchweek 4,Sat,Home,L,0,1,Nott'ham Forest,...,0.07,-0.9,-0.9,2025,Liverpool,1,23,15,5,0
4,2024-09-21,15:00 (21:00),Premier League,Matchweek 5,Sat,Home,W,3,0,Bournemouth,...,0.11,1.0,1.0,2025,Liverpool,1,2,15,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,2016-04-16,15:00 (21:00),Premier League,Matchweek 34,Sat,Away,L,0,1,Manchester Utd,...,NaN,NaN,NaN,2016,Aston Villa,0,19,15,5,0
7556,2016-04-23,15:00 (21:00),Premier League,Matchweek 35,Sat,Home,L,2,4,Southampton,...,NaN,NaN,NaN,2016,Aston Villa,1,25,15,5,0
7557,2016-04-30,15:00 (21:00),Premier League,Matchweek 36,Sat,Away,L,2,3,Watford,...,NaN,NaN,NaN,2016,Aston Villa,0,30,15,5,0
7558,2016-05-07,15:00 (21:00),Premier League,Matchweek 37,Sat,Home,D,0,0,Newcastle Utd,...,NaN,NaN,NaN,2016,Aston Villa,1,21,15,5,0
7559,2016-05-15,15:00 (21:00),Premier League,Matchweek 38,Sun,Away,L,0,4,Arsenal,...,NaN,NaN,NaN,2016,Aston Villa,0,0,15,6,0

In [57]:
predictors = ["Venue_Code", "Opp_Code", "Hour", "day_code"]

In [62]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [65]:
preds = rf.predict(test[predictors])

In [64]:
from sklearn.metrics import accuracy_score

In [ ]:
acc = accuracy_score(test["target"], preds)

In [67]:
acc

0.6257142857142857

In [72]:
combined = pd.DataFrame({"Actual": test["target"], "Predicted": preds})

In [71]:
pd.crosstab(index=combined["Actual"], columns=combined["Predicted"])

Predicted    0   1
Actual
0          176  39
1           92  43

In [ ]:
from sklearn.metrics import precision_score

In [76]:
precision_score(test["target"], preds)

0.524390243902439

In [135]:
grouped_matches = matches.groupby("Team")

In [136]:
group = grouped_matches.get_group("Arsenal")

In [137]:
group

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,npxG/Sh,G-xG,np:G-xG,Season,Team,Venue_Code,Opp_Code,Hour,day_code,target
36,2024-08-17,15:00 (21:00),Premier League,Matchweek 1,Sat,Home,W,2,0,Wolves,...,0.07,0.8,0.8,2025,Arsenal,1,33,15,5,1
37,2024-08-24,17:30 (23:30),Premier League,Matchweek 2,Sat,Away,W,2,0,Aston Villa,...,0.10,1.1,1.1,2025,Arsenal,0,1,17,5,1
38,2024-08-31,12:30 (18:30),Premier League,Matchweek 3,Sat,Home,D,1,1,Brighton,...,0.20,-1.1,-1.1,2025,Arsenal,1,4,12,5,0
39,2024-09-15,14:00 (20:00),Premier League,Matchweek 4,Sun,Away,W,1,0,Tottenham,...,0.11,0.3,0.3,2025,Arsenal,0,29,14,6,1
40,2024-09-22,16:30 (22:30),Premier League,Matchweek 5,Sun,Away,D,2,2,Manchester City,...,0.13,1.3,1.3,2025,Arsenal,0,18,16,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6871,2016-04-21,19:45 (01:45),Premier League,Matchweek 30,Thu,Home,W,2,0,West Brom,...,NaN,NaN,NaN,2016,Arsenal,1,31,19,3,1
6872,2016-04-24,14:05 (20:05),Premier League,Matchweek 35,Sun,Away,D,0,0,Sunderland,...,NaN,NaN,NaN,2016,Arsenal,0,27,14,6,0
6873,2016-04-30,17:30 (23:30),Premier League,Matchweek 36,Sat,Home,W,1,0,Norwich City,...,NaN,NaN,NaN,2016,Arsenal,1,22,17,5,1
6874,2016-05-08,16:00 (22:00),Premier League,Matchweek 37,Sun,Away,D,2,2,Manchester City,...,NaN,NaN,NaN,2016,Arsenal,0,18,16,6,0
6875,2016-05-15,15:00 (21:00),Premier League,Matchweek 38,Sun,Home,W,4,0,Aston Villa,...,NaN,NaN,NaN,2016,Arsenal,1,1,15,6,1

In [138]:
def rolling_average(group, cols, new_cols):
    group = group.sort_values("Date")
    rolling_stats = group[cols].rolling(3, closed = "left").mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset = new_cols)
    return group

In [139]:
cols = ["GF", "GA", "xG", "xGA", "Poss", "FK", "PK", "Dist", "PKatt", "G-xG", "npxG/Sh"]
new_cols = [f"{c}_rolling" for c in cols]

In [140]:
new_cols

['GF_rolling',
 'GA_rolling',
 'xG_rolling',
 'xGA_rolling',
 'Poss_rolling',
 'FK_rolling',
 'PK_rolling',
 'Dist_rolling',
 'PKatt_rolling',
 'G-xG_rolling',
 'npxG/Sh_rolling']

In [144]:
rolling_average(group, cols, new_cols)

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,GA_rolling,xG_rolling,xGA_rolling,Poss_rolling,FK_rolling,PK_rolling,Dist_rolling,PKatt_rolling,G-xG_rolling,npxG/Sh_rolling
5473,2017-09-09,15:00 (21:00),Premier League,Matchweek 4,Sat,Home,W,3,0,Bournemouth,...,2.666667,1.533333,1.766667,65.333333,0.000000,0.000000,18.133333,0.000000,-0.200000,0.083333
5474,2017-09-17,13:30 (19:30),Premier League,Matchweek 5,Sun,Away,D,0,0,Chelsea,...,1.666667,1.433333,1.466667,62.000000,0.333333,0.000000,16.766667,0.000000,-0.433333,0.093333
5475,2017-09-25,20:00 (02:00),Premier League,Matchweek 6,Mon,Home,W,2,0,West Brom,...,1.333333,1.400000,1.500000,53.000000,0.333333,0.000000,16.566667,0.000000,-0.400000,0.113333
5476,2017-10-01,12:00 (18:00),Premier League,Matchweek 7,Sun,Home,W,2,0,Brighton,...,0.000000,1.933333,0.766667,58.666667,1.333333,0.333333,17.400000,0.333333,-0.266667,0.120000
5477,2017-10-14,17:30 (23:30),Premier League,Matchweek 8,Sat,Away,L,1,2,Watford,...,0.000000,2.000000,0.700000,60.666667,1.666667,0.333333,18.333333,0.333333,-0.666667,0.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2025-04-12,17:30 (23:30),Premier League,Matchweek 32,Sat,Home,D,1,1,Brentford,...,0.666667,1.566667,0.833333,54.000000,1.000000,0.000000,13.833333,0.000000,-0.233333,0.110000
68,2025-04-20,14:00 (20:00),Premier League,Matchweek 33,Sun,Away,W,4,0,Ipswich Town,...,1.000000,1.666667,0.766667,61.000000,0.666667,0.000000,14.533333,0.000000,-0.333333,0.113333
69,2025-04-23,20:00 (02:00),Premier League,Matchweek 34,Wed,Home,D,2,2,Crystal Palace,...,0.666667,1.733333,0.500000,69.000000,1.000000,0.000000,15.600000,0.000000,0.266667,0.103333
70,2025-05-03,17:30 (23:30),Premier League,Matchweek 35,Sat,Home,L,1,2,Bournemouth,...,1.000000,1.533333,0.700000,68.333333,0.333333,0.000000,16.166667,0.000000,0.800000,0.093333
71,2025-05-11,16:30 (22:30),Premier League,Matchweek 36,Sun,Away,D,2,2,Liverpool,...,1.333333,1.666667,0.933333,64.333333,0.666667,0.000000,14.766667,0.000000,0.666667,0.106667

In [145]:
matches_rolling = matches.groupby("Team").apply(lambda x: rolling_average(x, cols, new_cols))

C:\Users\This PC\AppData\Local\Temp\ipykernel_19248\996396752.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  matches_rolling = matches.groupby("Team").apply(lambda x: rolling_average(x, cols, new_cols))

In [146]:
matches_rolling

                                   Date           Time            Comp  \
Team
Arsenal                 5473 2017-09-09  15:00 (21:00)  Premier League
                        5474 2017-09-17  13:30 (19:30)  Premier League
                        5475 2017-09-25  20:00 (02:00)  Premier League
                        5476 2017-10-01  12:00 (18:00)  Premier League
                        5477 2017-10-14  17:30 (23:30)  Premier League
...                                 ...            ...             ...
Wolverhampton Wanderers 499  2025-04-13  14:00 (20:00)  Premier League
                        500  2025-04-20  14:00 (20:00)  Premier League
                        501  2025-04-26  15:00 (21:00)  Premier League
                        502  2025-05-02  20:00 (02:00)  Premier League
                        503  2025-05-10  15:00 (21:00)  Premier League

                                     Round  Day Venue Result  GF  GA  \
Team
Arsenal                 5473   Matchweek 4  Sat  Home      W   3   0
                        5474   Matchweek 5  Sun  Away      D   0   0
                        5475   Matchweek 6  Mon  Home      W   2   0
                        5476   Matchweek 7  Sun  Home      W   2   0
                        5477   Matchweek 8  Sat  Away      L   1   2
...                                    ...  ...   ...    ...  ..  ..
Wolverhampton Wanderers 499   Matchweek 32  Sun  Home      W   4   2
                        500   Matchweek 33  Sun  Away      W   1   0
                        501   Matchweek 34  Sat  Home      W   3   0
                        502   Matchweek 35  Fri  Away      L   0   1
                        503   Matchweek 36  Sat  Home      L   0   2

                                     Opponent  ...  GA_rolling  xG_rolling  \
Team                                           ...
Arsenal                 5473      Bournemouth  ...    2.666667    1.533333
                        5474          Chelsea  ...    1.666667    1.433333
                        5475        West Brom  ...    1.333333    1.400000
                        5476         Brighton  ...    0.000000    1.933333
                        5477          Watford  ...    0.000000    2.000000
...                                       ...  ...         ...         ...
Wolverhampton Wanderers 499         Tottenham  ...    0.666667    1.400000
                        500    Manchester Utd  ...    1.000000    2.066667
                        501    Leicester City  ...    1.000000    1.733333
                        502   Manchester City  ...    0.666667    1.533333
                        503          Brighton  ...    0.333333    0.866667

                              xGA_rolling  Poss_rolling FK_rolling PK_rolling  \
Team
Arsenal                 5473     1.766667     65.333333   0.000000   0.000000
                        5474     1.466667     62.000000   0.333333   0.000000
                        5475     1.500000     53.000000   0.333333   0.000000
                        5476     0.766667     58.666667   1.333333   0.333333
                        5477     0.700000     60.666667   1.666667   0.333333
...                                   ...           ...        ...        ...
Wolverhampton Wanderers 499      1.133333     45.666667   0.333333   0.000000
                        500      1.366667     44.666667   0.666667   0.000000
                        501      1.366667     44.333333   0.666667   0.000000
                        502      1.466667     44.666667   1.000000   0.000000
                        503      1.033333     44.666667   0.666667   0.000000

                             Dist_rolling PKatt_rolling G-xG_rolling  \
Team
Arsenal                 5473    18.133333      0.000000    -0.200000
                        5474    16.766667      0.000000    -0.433333
                        5475    16.566667      0.000000    -0.400000
                        5476    17.400000      0.333333    -0.266667
                        5477    18.333333      0.333333    -0.666667
...                                   ...           ...          ...
Wolverhampton Wanderers 499     17.733333      0.000000     0.266667
                        500     16.733333      0.000000    -0.066667
                        501     16.433333      0.000000     0.266667
                        502     18.633333      0.000000     0.800000
                        503     18.900000      0.000000     0.466667

                              npxG/Sh_rolling
Team
Arsenal                 5473         0.083333
                        5474         0.093333
                        5475         0.113333
                        5476         0.120000
                        5477         0.110000
...                                       ...
Wolverhampton Wanderers 499          0.106667
                        500          0.143333
                        501          0.120000
                        502          0.113333
                        503          0.076667

[5938 rows x 52 columns]

In [148]:
matches_rolling = matches_rolling.droplevel("Team")

In [149]:
matches_rolling

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,GA_rolling,xG_rolling,xGA_rolling,Poss_rolling,FK_rolling,PK_rolling,Dist_rolling,PKatt_rolling,G-xG_rolling,npxG/Sh_rolling
5473,2017-09-09,15:00 (21:00),Premier League,Matchweek 4,Sat,Home,W,3,0,Bournemouth,...,2.666667,1.533333,1.766667,65.333333,0.000000,0.000000,18.133333,0.000000,-0.200000,0.083333
5474,2017-09-17,13:30 (19:30),Premier League,Matchweek 5,Sun,Away,D,0,0,Chelsea,...,1.666667,1.433333,1.466667,62.000000,0.333333,0.000000,16.766667,0.000000,-0.433333,0.093333
5475,2017-09-25,20:00 (02:00),Premier League,Matchweek 6,Mon,Home,W,2,0,West Brom,...,1.333333,1.400000,1.500000,53.000000,0.333333,0.000000,16.566667,0.000000,-0.400000,0.113333
5476,2017-10-01,12:00 (18:00),Premier League,Matchweek 7,Sun,Home,W,2,0,Brighton,...,0.000000,1.933333,0.766667,58.666667,1.333333,0.333333,17.400000,0.333333,-0.266667,0.120000
5477,2017-10-14,17:30 (23:30),Premier League,Matchweek 8,Sat,Away,L,1,2,Watford,...,0.000000,2.000000,0.700000,60.666667,1.666667,0.333333,18.333333,0.333333,-0.666667,0.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2025-04-13,14:00 (20:00),Premier League,Matchweek 32,Sun,Home,W,4,2,Tottenham,...,0.666667,1.400000,1.133333,45.666667,0.333333,0.000000,17.733333,0.000000,0.266667,0.106667
500,2025-04-20,14:00 (20:00),Premier League,Matchweek 33,Sun,Away,W,1,0,Manchester Utd,...,1.000000,2.066667,1.366667,44.666667,0.666667,0.000000,16.733333,0.000000,-0.066667,0.143333
501,2025-04-26,15:00 (21:00),Premier League,Matchweek 34,Sat,Home,W,3,0,Leicester City,...,1.000000,1.733333,1.366667,44.333333,0.666667,0.000000,16.433333,0.000000,0.266667,0.120000
502,2025-05-02,20:00 (02:00),Premier League,Matchweek 35,Fri,Away,L,0,1,Manchester City,...,0.666667,1.533333,1.466667,44.666667,1.000000,0.000000,18.633333,0.000000,0.800000,0.113333
503,2025-05-10,15:00 (21:00),Premier League,Matchweek 36,Sat,Home,L,0,2,Brighton,...,0.333333,0.866667,1.033333,44.666667,0.666667,0.000000,18.900000,0.000000,0.466667,0.076667

In [150]:
matches_rolling.index = range(matches_rolling.shape[0])

In [151]:
matches_rolling

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,GA_rolling,xG_rolling,xGA_rolling,Poss_rolling,FK_rolling,PK_rolling,Dist_rolling,PKatt_rolling,G-xG_rolling,npxG/Sh_rolling
0,2017-09-09,15:00 (21:00),Premier League,Matchweek 4,Sat,Home,W,3,0,Bournemouth,...,2.666667,1.533333,1.766667,65.333333,0.000000,0.000000,18.133333,0.000000,-0.200000,0.083333
1,2017-09-17,13:30 (19:30),Premier League,Matchweek 5,Sun,Away,D,0,0,Chelsea,...,1.666667,1.433333,1.466667,62.000000,0.333333,0.000000,16.766667,0.000000,-0.433333,0.093333
2,2017-09-25,20:00 (02:00),Premier League,Matchweek 6,Mon,Home,W,2,0,West Brom,...,1.333333,1.400000,1.500000,53.000000,0.333333,0.000000,16.566667,0.000000,-0.400000,0.113333
3,2017-10-01,12:00 (18:00),Premier League,Matchweek 7,Sun,Home,W,2,0,Brighton,...,0.000000,1.933333,0.766667,58.666667,1.333333,0.333333,17.400000,0.333333,-0.266667,0.120000
4,2017-10-14,17:30 (23:30),Premier League,Matchweek 8,Sat,Away,L,1,2,Watford,...,0.000000,2.000000,0.700000,60.666667,1.666667,0.333333,18.333333,0.333333,-0.666667,0.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5933,2025-04-13,14:00 (20:00),Premier League,Matchweek 32,Sun,Home,W,4,2,Tottenham,...,0.666667,1.400000,1.133333,45.666667,0.333333,0.000000,17.733333,0.000000,0.266667,0.106667
5934,2025-04-20,14:00 (20:00),Premier League,Matchweek 33,Sun,Away,W,1,0,Manchester Utd,...,1.000000,2.066667,1.366667,44.666667,0.666667,0.000000,16.733333,0.000000,-0.066667,0.143333
5935,2025-04-26,15:00 (21:00),Premier League,Matchweek 34,Sat,Home,W,3,0,Leicester City,...,1.000000,1.733333,1.366667,44.333333,0.666667,0.000000,16.433333,0.000000,0.266667,0.120000
5936,2025-05-02,20:00 (02:00),Premier League,Matchweek 35,Fri,Away,L,0,1,Manchester City,...,0.666667,1.533333,1.466667,44.666667,1.000000,0.000000,18.633333,0.000000,0.800000,0.113333
5937,2025-05-10,15:00 (21:00),Premier League,Matchweek 36,Sat,Home,L,0,2,Brighton,...,0.333333,0.866667,1.033333,44.666667,0.666667,0.000000,18.900000,0.000000,0.466667,0.076667

In [155]:
def make_predictions(data, predictors):
    train = data[data["Date"] < mid_season_2025]
    test = data[data["Date"] > mid_season_2025]
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame({"Actual": test["target"], "Predicted": preds}, index=test.index)
    precision = precision_score(test["target"], preds)
    return combined, precision

In [156]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [157]:
precision

0.5657894736842105

In [158]:
combined

      Actual  Predicted
281        1          1
282        0          1
283        1          1
284        0          0
285        1          0
...      ...        ...
5933       1          0
5934       1          0
5935       1          0
5936       0          0
5937       0          0

[350 rows x 2 columns]

In [159]:
combined = combined.merge(matches_rolling[["Date", "Team", "Opponent", "Result"]], left_index=True, right_index=True)

In [160]:
combined

,Actual,Predicted,Date,Team,Opponent,Result
281,1,1,2025-01-01,Arsenal,Brentford,W
282,0,1,2025-01-04,Arsenal,Brighton,D
283,1,1,2025-01-15,Arsenal,Tottenham,W
284,0,0,2025-01-18,Arsenal,Aston Villa,D
285,1,0,2025-01-25,Arsenal,Wolves,W
...,...,...,...,...,...,...
5933,1,0,2025-04-13,Wolverhampton Wanderers,Tottenham,W
5934,1,0,2025-04-20,Wolverhampton Wanderers,Manchester Utd,W
5935,1,0,2025-04-26,Wolverhampton Wanderers,Leicester City,W
5936,0,0,2025-05-02,Wolverhampton Wanderers,Manchester City,L
5937,0,0,2025-05-10,Wolverhampton Wanderers,Brighton,L

In [167]:
class MisssingDict(dict):
    __missing__ = lambda self, key:key
    
map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Manchester United": "Manchester Utd",
    "Tottenham Hotspur": "Tottenham",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves",
    "Stoke City": "Stoke",
}

mapping = MisssingDict(map_values)

In [170]:
combined["new_team"] = combined["Team"].map(mapping)

In [171]:
combined

,Actual,Predicted,Date,Team,Opponent,Result,new_team
281,1,1,2025-01-01,Arsenal,Brentford,W,Arsenal
282,0,1,2025-01-04,Arsenal,Brighton,D,Arsenal
283,1,1,2025-01-15,Arsenal,Tottenham,W,Arsenal
284,0,0,2025-01-18,Arsenal,Aston Villa,D,Arsenal
285,1,0,2025-01-25,Arsenal,Wolves,W,Arsenal
...,...,...,...,...,...,...,...
5933,1,0,2025-04-13,Wolverhampton Wanderers,Tottenham,W,Wolves
5934,1,0,2025-04-20,Wolverhampton Wanderers,Manchester Utd,W,Wolves
5935,1,0,2025-04-26,Wolverhampton Wanderers,Leicester City,W,Wolves
5936,0,0,2025-05-02,Wolverhampton Wanderers,Manchester City,L,Wolves
5937,0,0,2025-05-10,Wolverhampton Wanderers,Brighton,L,Wolves

In [174]:
merged = combined.merge(combined, left_on=["Date","new_team"], right_on=["Date", "Opponent"])

In [175]:
merged

,Actual_x,Predicted_x,Date,Team_x,Opponent_x,Result_x,new_team_x,Actual_y,Predicted_y,Team_y,Opponent_y,Result_y,new_team_y
0,1,1,2025-01-01,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
1,0,1,2025-01-04,Arsenal,Brighton,D,Arsenal,0,0,Brighton and Hove Albion,Arsenal,D,Brighton
2,1,1,2025-01-15,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
3,0,0,2025-01-18,Arsenal,Aston Villa,D,Arsenal,0,0,Aston Villa,Arsenal,D,Aston Villa
4,1,0,2025-01-25,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,1,0,2025-04-13,Wolverhampton Wanderers,Tottenham,W,Wolves,0,0,Tottenham Hotspur,Wolves,L,Tottenham
311,1,0,2025-04-20,Wolverhampton Wanderers,Manchester Utd,W,Wolves,0,0,Manchester United,Wolves,L,Manchester Utd
312,1,0,2025-04-26,Wolverhampton Wanderers,Leicester City,W,Wolves,0,0,Leicester City,Wolves,L,Leicester City
313,0,0,2025-05-02,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City
314,0,0,2025-05-10,Wolverhampton Wanderers,Brighton,L,Wolves,1,0,Brighton and Hove Albion,Wolves,W,Brighton

In [178]:
merged[(merged["Predicted_x"] == 1) & (merged["Predicted_y"] == 0)]["Actual_x"].value_counts()

Actual_x
1    39
0    30
Name: count, dtype: int64